<div class="footerWrap">
    <div class="footer">
      <div class="footerContent">
          <a href="http://scripteden.com/download/eden-ui/" target="_blank" class="btn-social btn-facebook"><i class="fa fa-facebook"></i></a>
          <a href="http://scripteden.com/download/eden-ui/" target="_blank" class="btn-social btn-github"><i class="fa fa-github-alt"></i></a>
          <a href="http://scripteden.com/download/eden-ui/" target="_blank" class="btn-social btn-google-plus"><i class="fa fa-google-plus"></i></a>
          <a href="http://scripteden.com/download/eden-ui/" target="_blank" class="btn-social btn-paypal"><i class="fa fa-paypal"></i></a>
          <a href="http://scripteden.com/download/eden-ui/" target="_blank" class="btn-social btn-reddit"><i class="fa fa-reddit"></i></a>
          <a href="http://scripteden.com/download/eden-ui/" target="_blank" class="btn-social btn-stack-overflow"><i class="fa fa-stack-overflow"></i></a>
          <a href="http://scripteden.com/download/eden-ui/" target="_blank" class="btn-social btn-steam"><i class="fa fa-steam"></i></a>
          <a href="http://scripteden.com/download/eden-ui/" target="_blank" class="btn-social btn-twitch"><i class="fa fa-twitch"></i></a>
          <a href="http://scripteden.com/download/eden-ui/" target="_blank" class="btn-social btn-twitter"><i class="fa fa-twitter"></i></a>
          <a href="http://scripteden.com/download/eden-ui/" target="_blank" class="btn-social btn-vimeo"><i class="fa fa-vimeo-square"></i></a>
          <a href="http://scripteden.com/download/eden-ui/" target="_blank" class="btn-social btn-youtube"><i class="fa fa-youtube"></i></a>
          <br>   



          <div id="wrap-footer-content">     
              <div id="footer-wrap">
                  <div id="footer">        
                  <p>
                  &copy; 2018 XsiSec
                        &nbsp;&nbsp;&nbsp;&nbsp;
                  Design by <a href="http://www.styleshout.com/">Xsisec.com</a> 
            
                       | <a href="http://www.cssportal.com/">CSS Portal </a>&nbsp;&nbsp;&nbsp;&nbsp;
                  
                  <a href="index.html">Home</a> |
                       <a href="index.html">Sitemap</a> |
                       <a href="index.html">RSS Feed</a> |
                        <a href="http://validator.w3.org/check?uri=referer">XHTML</a> |
                  <a href="http://jigsaw.w3.org/css-validator/check/referer">CSS</a>
                  </p> 
              </div>
            </div>
            </div>

      </div>     
    </div>
</div>