<div class="UserPath">
loljijio
</div>
<div class="mainMenu">
  <div id="navigation-block">
    <ul id="sliding-navigation">
      <li class ="sliding-element" routerLinkActive="active">
        <a routerLink="home" class="baffle">Home</a>
      </li>
      <li li class ="sliding-element" routerLinkActive="active">
        <a routerLink="github" class="baffle">GitHub</a>
      </li>
      <li class ="sliding-element" routerLinkActive="active">
        <a routerLink="services" class="baffle">Services</a>
      </li>
      <li class ="sliding-element" routerLinkActive="active">
          <a routerLink="contact" class="baffle">Contact</a>
        </li>
    </ul>
    <router-outlet></router-outlet>
  </div>
  </div>