
<div class="mainMenu">
  <div id="navigation-block">
      <div class="UserPath">
         template: 'The href is: {{mypath}}
      </div>
    <ul id="sliding-navigation">
      <li class ="sliding-element" routerLinkActive="active">
        <a routerLink="home" class="baffle">Home</a>
      </li>
      <li li class ="sliding-element" routerLinkActive="active">
        <a routerLink="portfolio" class="baffle">Portfolio</a>
      </li>
      <li class ="sliding-element" routerLinkActive="active">
        <a routerLink="blog" class="baffle">Blog</a>
      </li>
      <li class ="sliding-element" routerLinkActive="active">
        <a routerLink="resume" class="baffle">Resume</a>
      </li>
      <li class ="sliding-element" routerLinkActive="active">
          <a routerLink="contact" class="baffle">Contact</a>
        </li>
    </ul>
    <router-outlet></router-outlet>
  </div>
  <div class="UserData">
      IP:<br>
      Location:<br>
      City:<br>
      Country:
  </div>
  
  </div>
