<!-- <div class="header">

  <pre>
    ██╗    ██╗██╗    ██╗██╗    ██╗   ██╗  ██╗███████╗██╗███████╗███████╗ ██████╗    ██████╗ ██████╗ ███╗   ███╗
    ██║    ██║██║    ██║██║    ██║   ╚██╗██╔╝██╔════╝██║██╔════╝██╔════╝██╔════╝   ██╔════╝██╔═══██╗████╗ ████║
    ██║ █╗ ██║██║ █╗ ██║██║ █╗ ██║    ╚███╔╝ ███████╗██║███████╗█████╗  ██║        ██║     ██║   ██║██╔████╔██║
    ██║███╗██║██║███╗██║██║███╗██║    ██╔██╗ ╚════██║██║╚════██║██╔══╝  ██║        ██║     ██║   ██║██║╚██╔╝██║
    ╚███╔███╔╝╚███╔███╔╝╚███╔███╔╝██╗██╔╝ ██╗███████║██║███████║███████╗╚██████╗██╗╚██████╗╚██████╔╝██║ ╚═╝ ██║
     ╚══╝╚══╝  ╚══╝╚══╝  ╚══╝╚══╝ ╚═╝╚═╝  ╚═╝╚══════╝╚═╝╚══════╝╚══════╝ ╚═════╝╚═╝ ╚═════╝ ╚═════╝ ╚═╝     ╚═╝      
     <a href="/blog">
      <span class="link-spanner"></span>
  </a>                                                                                                                 
      </pre>
</div> -->

<div class="container">
    <pre>
      <br>
    ██╗    ██╗██╗    ██╗██╗    ██╗   ██╗  ██╗███████╗██╗███████╗███████╗ ██████╗    ██████╗ ██████╗ ███╗   ███╗
    ██║    ██║██║    ██║██║    ██║   ╚██╗██╔╝██╔════╝██║██╔════╝██╔════╝██╔════╝   ██╔════╝██╔═══██╗████╗ ████║
    ██║ █╗ ██║██║ █╗ ██║██║ █╗ ██║    ╚███╔╝ ███████╗██║███████╗█████╗  ██║        ██║     ██║   ██║██╔████╔██║
    ██║███╗██║██║███╗██║██║███╗██║    ██╔██╗ ╚════██║██║╚════██║██╔══╝  ██║        ██║     ██║   ██║██║╚██╔╝██║
    ╚███╔███╔╝╚███╔███╔╝╚███╔███╔╝██╗██╔╝ ██╗███████║██║███████║███████╗╚██████╗██╗╚██████╗╚██████╔╝██║ ╚═╝ ██║
     ╚══╝╚══╝  ╚══╝╚══╝  ╚══╝╚══╝ ╚═╝╚═╝  ╚═╝╚══════╝╚═╝╚══════╝╚══════╝ ╚═════╝╚═╝ ╚═════╝ ╚═════╝ ╚═╝     ╚═╝   
     <a href="/blog"><span class="link-spanner"></span></a>             
    </pre>
</div>