.home-content{
    position: absolute;
    top: 0; bottom: 0; left: 18%; right: 0;
    margin: auto;
	width: 550px;
	height: 380px;
    border: 1px solid #ff0000;	
	background-color: rgb(133, 141, 255);
    overflow: hidden; 
    font-family: 'courier';
    font-size: 14px;  
}