.spacer {
  flex: 1 1 auto;
}

span:focus {
  outline: none;
  border: 0;
}

span {
  cursor: pointer;
}

.mainMenu {
  display: none;
  align-content: left;
}

#navigation-block {
  position: fixed;
  top: 0px;
  bottom: 30px;
  left: 0;
  right: 0;
  margin: auto;
  width: 800px;
  height: 480px;
  border: 1px solid #66ff00;
  background-color: rgba(0, 0, 0, 0.473);
  overflow: hidden;


}

#hide {
  position: fixed;
  top: 30px;
  left: -190px;

}

ul#sliding-navigation {
  list-style: none;
  margin-left: 20px;
  margin-top: 10%;
  padding: 0;
  text-align: left;
}

ul#sliding-navigation li.sliding-element a {
  display: block;
  width: 110px;
  height: 22px;
  margin-top: 0px;
  margin-bottom:30px;
  text-align: left;
  font-family: 'courier';
  font-size: 22px;
}



ul#sliding-navigation li.sliding-element a {
  color: rgb(123, 255, 0);
  border: 1px solid #66ff00;
  text-decoration: none;
  padding: 4px;
  text-align: left;
}

#menuFrame {

  border: 1px solid #66ff00;
}

ul#sliding-navigation li.sliding-element a:hover {
  color: #ffff66;
}

.active {
  display: block;
  width: fit-content;
  padding: 0px 0px;
  margin: 0;
  position: relative;
  background-color: #3cff0031;
}


.UrlPath {
  color: white;
  position: fixed;
  top: 0px;
  bottom: 400px;
  left: 0px;
  right: 0px;
  margin: auto;
  width: 470px;
  height: 22px;
  color: white;
  background-color: rgba(255, 255, 255, 0.096);
  border: 1px solid #66ff00;
  font-size: 13px;
}


.CurrentUserDetails {
  color: white;
  position: fixed;
  top: 330px;
  bottom: 0%;
  left: 0%;
  right: 640px;
  margin: auto;
  width: 110px;
  height: 80px;
  background-color: rgba(255, 255, 255, 0.096);
  border: 1px solid #66ff00;
  font-size: 13px;

}

/* 
position: fixed;
top: 0px;
bottom: 0px;
left: 150px;
right: 0;
margin: auto;
width: 570px;
height: 350px;
border: 1px solid #66ff00;
background-color: rgba(0, 0, 0, 0.473);
overflow: hidden;
font-family: 'courier';
font-size: 14px; 
*/


.userAdmin {
  position: fixed;
  top: 0px;
  bottom: 400px;
  left: 640px;
  right: 0px;
  margin: auto;
  width: fit-content;
  height: 22px;
  color: white;
  background-color: rgba(255, 255, 255, 0.096);
  border: 1px solid #66ff00;
  font-size: 13px;

}


.btnDashBoard {
  border: none;
  color: white;
  top: 0px;
  bottom: 330px;
  left: 500px;
  right: 0px;
  margin: auto;
  font-size: 16px;
  transition: 0.3s;
  background-color: rgba(255, 255, 255, 0.096);
}






.btnLogin {
  position: relative;
  border: none;
  color: white;
  padding: 0px 0px;

  font-size: 16px;
  transition: 0.3s;
  background-color: rgba(255, 255, 255, 0.096);
}

.btnLogout {
  border: none;
  color: white;
  padding: 0px 0px;
  font-size: 16px;
  transition: 0.3s;
  background-color: rgba(255, 255, 255, 0.096);
}

.btn:hover {
  background-color: #3e8e41;
  color: yellow;
}

#showLogin {
  color: black;
}
