section {

  position: fixed;
  top: 0px;
  bottom: 0px;
  left: 150px;
  right: 0;
  margin: auto;
  width: 570px;
  height: 350px;
  border: 1px solid #66ff00;
  background-color: rgba(0, 0, 0, 0.473);
  overflow: hidden;
  font-family: 'courier';
  font-size: 14px;
  overflow: scroll;

}

mat-form-field {
  width: 100%;
}

img {
  width: 100%;
}
