section {
    max-width: 500px;
    position: absolute;
    top:150px; bottom: 0px; left:40%; right: 0;
    width: 570px;
    height: 350px;
    border: 1px solid #66ff00;
    background-color: rgba(0, 0, 0, 0.473);
    overflow: hidden;
    font-family: 'courier';
    font-size: 14px;
    overflow: scroll;
    
  }
  mat-form-field {
    width: 100%;
  }
  img {
    width: 100%;
  }
  
