<div class="home-content">

  <img src="../../../assets/images/avatar.png" height="100" width="150" alt="Image" style="float: left; margin: 30px 10px 0px 10px; border: 0px solid #000000;">
  <br>
  <br>
  <div class="txtContent">
    Welcome to my portfolio site a 29 year-old senior Software-tester.
    Has worked within test since 2015 and has since worked as a tester Test-designer executor and for several projects.
    Through all the assignments, performed manual testing.
    Proficient in creating, executing test cases on a daily basis as well as verifying complex requirements. The work
    includes test reporting and handling over to production/maintenance. Besides a very wide technical background
    computers, Network, configuration servers software also many years of experience in:
    VBA, VB, .NET, JavaScript, SQL, PHP and HTML.

  </div>