.container {
    text-align: center;
  }
.pageNotFound-content {
  min-width: 420px;
  max-width: 620px;
  min-height: 380px;
  max-height: 380px;
  text-align: left;
  overflow: hidden;
  font-family: 'courier';
  font-size: 14px;
  color: white;
  line-height: 16px;
  border: 1px solid #66ff00;
  background-color: rgba(0, 0, 0, 0.473);
}

p {
  padding: 20px
}
