.blog-content{
    position: absolute;
    top: 40px; bottom: 0; left: 160px; right: 0;
    margin: auto;
	width: 600px;
	height: 410px;
	border: 1px solid #66ff00;
	background-color: rgb(73, 73, 73);
    overflow: hidden; 
    font-family: 'courier';
    font-size: 14px;  
}